/node_modules/
.env

# Uploads - ignorar archivos subidos pero mantener estructura de carpetas
src/uploads/certs/*
src/uploads/logos/*
src/uploads/productos/*
src/uploads/banner/*
src/uploads/categorias/*
src/uploads/tarjetas/*
